.footer {
  padding: 30px 0;
  background-color: var(--background-color-footer);
  color: var(--text-yellow-color);
}

.organization-name {
  display: block;
  margin-bottom: 5px;

  &_bigger-margin {
    margin-bottom: 15px;
  }

  font-size: 18px;
}

.adress-item {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.logo-wrapper {
  width: 290px;
}

.footer__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  // justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
