.hero__container {
  position: relative;
}

.hero-title {
  width: 100%;
  padding: 0 25px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 5px;
  left: 0;
  color: #005781;
  font-weight: 700;
  font-size: 18px;

  @media screen and (min-width: 400px) {
    font-size: 22px;
  }

  @media screen and (min-width: 480px) {
    font-size: 26px;
  }

  @media screen and (min-width: 768px) {
    bottom: 15px;
    font-size: 42px;
  }

  @media screen and (min-width: 1200px) {
    bottom: 30px;
    font-size: 60px;
  }
}
