.subtitle {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.03em;
}

.what-we-do__list {
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.what-we-do__item {
  width: calc((100% - 40px) / 2);
  padding-bottom: 10px;
  margin: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  @media screen and (min-width: 768px) {
    width: calc((100% - 80px) / 4);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 100px) / 5);
  }
}

.item__description {
  display: block;
  margin-top: 10px;
  color: #000000;
  font-size: 14px;
  text-align: center;
}

figure {
  margin-top: 40px;
}
